<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 내부에서 사용할 DTO, mapper 파일 등록 src를 기본으로 인식=>상대경로로 작성 -->
	<typeAliases>
		<typeAlias type="com.multi.erp.board.BoardDTO" alias="board" />
		<typeAlias type="com.multi.erp.member.MemberDTO" alias="member" />
		<typeAlias type="com.multi.erp.board.BoardFileDTO" alias="boardfile" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/board.xml" />
		<mapper resource="mapper/member.xml" />
		
	</mappers>
</configuration>
